
<div *ngIf="pVAppUser">
    <h2><span jhiTranslate="pvAppCmsApp.pVAppUser.detail.title">PV App User</span> {{pVAppUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.name">Name</span></dt>
        <dd>
            <span>{{pVAppUser.name}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.email">Email</span></dt>
        <dd>
            <span>{{pVAppUser.email}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.password">Password</span></dt>
        <dd>
            <span>{{pVAppUser.password}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.registrationDate">Registration Date</span></dt>
        <dd>
            <span>{{pVAppUser.registrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.birthday">Birthday</span></dt>
        <dd>
            <span>{{pVAppUser.birthday | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.nationality">Nationality</span></dt>
        <dd>
            <span>{{pVAppUser.nationality}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.gender">Gender</span></dt>
        <dd>
            <span>{{pVAppUser.gender}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.photo">Photo</span></dt>
        <dd>
            <span><img src={{pVAppUser.photo}} height="200" width="200"/></span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.pVAppUser.status">Status</span></dt>
        <dd>
            <span>{{pVAppUser.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pv-app-user/'+ pVAppUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
