<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPVAppUserLabel" jhiTranslate="pvAppCmsApp.pVAppUser.home.createOrEditLabel">Create or edit a PV App User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pVAppUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pVAppUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="pVAppUser.name"  required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="pVAppUser.email"  required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.password" for="field_password">Password</label>
            <input type="password" class="form-control" name="password" id="field_password"
                [(ngModel)]="pVAppUser.password"  required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.birthday" for="field_birthday">Birthday</label>
            <div class="input-group">
                <input id="field_birthday" type="text" class="form-control" name="birthday" ngbDatepicker  #birthdayDp="ngbDatepicker" [(ngModel)]="pVAppUser.birthday"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="birthdayDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.nationality" for="field_nationality">Nationality</label>
            <input type="text" class="form-control" name="nationality" id="field_nationality"
                [(ngModel)]="pVAppUser.nationality"  required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="pVAppUser.gender"  required/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.pVAppUser.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="pVAppUser.status"  required/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
