<div *ngIf="province">
    <div>
        <img style="display:block; margin: 0 auto; height: 300px; width:55%" src="{{province.photo !== null ? province.photo:NO_IMAGE}}" alt="{{province.name}}" /></span>
    </div>
    <div>
        <span><b>{{province.name}}</b></span>
        <span class="pull-right"><span jhiTranslate="pvAppCmsApp.province.detail.title">Province</span>ID : {{province.id}}</span>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pvAppCmsApp.province.coordinates">Coordinates</span></dt>
        <dd>
            <span>{{province.coordinates}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.province.history">History</span></dt>
        <dd style="text-align: justify">
            <span>{{province.history}}</span>
        </dd>
        <dt><span jhiTranslate="pvAppCmsApp.province.culture">Culture</span></dt>
        <dd style="text-align: justify">
            <span>{{province.culture}}</span>
        </dd>

    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'province/'+ province.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
