<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTouristDestinationLabel" jhiTranslate="pvAppCmsApp.touristDestination.home.createOrEditLabel">Create or edit a Tourist Destination</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!touristDestination.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="touristDestination.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.touristDestination.name" for="field_name">Name</label>
            <input type="text" class="form-control" required name="name" id="field_name"
                [(ngModel)]="touristDestination.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.touristDestination.coordinates" for="field_coordinates">Coordinates</label>
            <input type="text" class="form-control" required name="coordinates" id="field_coordinates"
                [(ngModel)]="touristDestination.coordinates"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.touristDestination.description" for="field_description">Description</label>
            <input type="text" class="form-control" required name="description" id="field_description"
                [(ngModel)]="touristDestination.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_photo">Main photo</label>
            <input type="text" class="form-control" required name="photo" id="field_photo"
                [(ngModel)]="photo"  (ngModelChange)="savePhoto()"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.touristDestination.address" for="field_address">Address</label>
            <input type="text" class="form-control" required name="address" id="field_address"
                [(ngModel)]="touristDestination.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pvAppCmsApp.touristDestination.province" for="field_province">Province</label>
            <select [(ngModel)]="selectedProvince" required (change)="saveProvinceRef('province')" class="form-control" name="province" id="field_province">
                <option *ngFor="let p of provinces"  [ngValue]="p">{{p.name}}</option>
            </select>
        </div>
        <div *ngIf="selectedProvince !== undefined">
            <div class="form-group">
                <label class="form-control-label" for="field_provice_canton">Canton</label>
                <select  [(ngModel)]= "selectedCanton"  required (change)="saveProvinceRef('canton')" class="form-control" name="canton" id="field_provice_canton">
                    <option *ngFor="let c of selectedProvince.cantons"  [ngValue]="c">{{c}}</option>
                </select>
            </div>
        </div>
        <div>
            <h5>Attribute</h5>
            <div  class="form-group">
                <label class="form-control-label" for="field_attribute_name">Attribute name</label>
                <input type="text" class="form-control" name="attribute_name" id="field_attribute_name"
                    [(ngModel)]="attribute.name"  />
                <label class="form-control-label" for="field_attribute_value">Attribute value</label>
                <input type="text" class="form-control" name="attribute_value" id="field_attribute_value"
                    [(ngModel)]="attribute.value"  />
            </div>
            <button type="button" class="btn btn-info" (click)="addAtribute()" [disabled]="(attribute.name === undefined)">{{isEditAtt?'Edit attribute': 'Add attribute'}}</button>
            <button type="button" class="btn btn-danger" (click)="cancelEdit()"[hidden]="!isEditAtt">Cancel</button>
            <div  class= "row" >
                <div *ngFor="let att of touristDestination.attributes; let i=index">
                    <label class="btn btn-link" (click)="editAttribute(att, i)">{{att.name}}</label>
                    <i class="fa fa-times" style="color:red" aria-hidden="true" (click)="removeAttribute()"></i>
                </div>
            </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
