<div>
    <h2>
        <span jhiTranslate="pvAppCmsApp.touristDestination.home.title">Tourist Destinations</span>
        <button class="btn btn-primary float-right create-tourist-destination" [routerLink]="['/', { outlets: { popup: ['tourist-destination-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pvAppCmsApp.touristDestination.home.createLabel">
            Create new Tourist Destination
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="touristDestinations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="pvAppCmsApp.touristDestination.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="coordinates"><span jhiTranslate="pvAppCmsApp.touristDestination.coordinates">Coordinates</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="pvAppCmsApp.touristDestination.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photos"><span jhiTranslate="pvAppCmsApp.touristDestination.photos">Photos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="pvAppCmsApp.touristDestination.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="province"><span jhiTranslate="pvAppCmsApp.touristDestination.province">Province</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let touristDestination of touristDestinations ;trackBy: trackId">
                <td><a [routerLink]="['../tourist-destination', touristDestination.id ]">{{touristDestination.id}}</a></td>
                <td>{{touristDestination.name}}</td>
                <td>{{touristDestination.coordinates}}</td>
                <td>{{touristDestination.description}}</td>
                <td><img height="200" width="200" [src]="touristDestination.photos[0]"></td>
                <td>{{touristDestination.address}}</td>
                <td>{{touristDestination.province.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tourist-destination', touristDestination.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tourist-destination/'+ touristDestination.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tourist-destination/'+ touristDestination.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="touristDestinations && touristDestinations.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
